<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create Puppy</title>
  </head>
  <body>
    <h1>Puppy Details:</h1>
    <form method="post" action="/">
    <p>Enter details here:</p>
    <textarea name="name"></textarea>
    <br>
    <textarea breed="breed"></textarea>
    <br>
    <textarea age="age"></textarea>
    <br>
    <button type="submit" value="submit">Submit</button>
  </form>
  </body>
</html>
