<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Created</title>
  </head>
  <body>
    <h1>Puppy Details:</h1>
    <p>Puppys Name:\n</p>
    <p><%= @new_puppy.name%></p>
    <p>Puppy's Breed: <%= @new_puppy.breed%></p>
    <p>Puppy's Age: <%= @new_puppy.age%></p>
  </body>
</html>
