<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Created</title>
  </head>
  <body>
    <h1>Puppy Details:</h1>
    <p>Puppy Name:\n<%= @new_puppy.name%></p>
    <p>Puppy Breed: <%= @new_puppy.breed%></p>
    <p>Puppy Age: <%= @new_puppy.age%></p>
  </body>
</html>
