<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Created</title>
  </head>
  <body>
    <h1>Puppy Details:</h1>
    <p>Puppy's Name: <%= @name%></p>
    <p>Puppy's Breed: <%= @breed%></p>
    <p>Puppy's Age: <%= @age%></p>
  </body>
</html>